.header {
  background-color: white;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  height: 4rem;
}

.logo-text {
  font-size: 1.5rem;
  font-weight: bold;
}

.logo-highlight {
  color: #030c52;
}

.header-nav {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.nav-links {
  display: flex;
  font-weight: medium;
  align-items: center;
  gap: 2rem;
}

.login-signup-buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.signup-button {
  background-color: #030c52;
  color: white;
  transition: background-color 0.2s ease-in-out;
}

.signup-button:hover {
  background-color: #5b30a6;
}

.user-avatar {
  cursor: pointer;
  border: 1px solid #ddd;
}

.user-popover-content {
  width: 20rem;
  position: absolute;
  right: 0;
}

.user-details {
  display: flex;
  gap: 1rem;
  margin: 1rem 0;
}

.user-name {
  font-weight: 600;
}

.user-bio {
  font-size: 0.875rem;
  color: #999;
}

.user-actions {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  /* gap: 1rem; */
  color: #666;
}

.user-actions-button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}
