.auth-form-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 2rem 0;
}

.auth-form {
  width: 50%;
  border: 1px solid #ddd;
  border-radius: 1rem;
  padding: 1rem;
}

.auth-title {
  font-weight: bold;
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.auth-field {
  margin-bottom: 1rem;
}

.role-selection {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}

.role-options {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.role-option {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.picture-option {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.auth-button {
  width: 100%;
  margin-top: 1rem;
}

.signup-link-text {
  font-size: 0.875rem;
  margin-top: 1rem;
}

.signup-link {
  color: #3b5bdb;
  cursor: pointer;
}

/* Laptop Styles (Large screens) */
@media only screen and (max-width: 1023px) {
}

/* Laptop Styles (Medium screens) */
@media only screen and (min-width: 768px) and (max-width: 899px) {
}

/* Tablet Styles (Small screens) */
@media only screen and (max-width: 767px) {
  .auth-form {
    width: 80%;
  }
}

/* Mobile Styles (Extra small screens) */
@media only screen and (max-width: 479px) {
  .auth-form {
    width: 100%;
  }
}
